/*#F4F1EB;*/
/* Small units */
/* TODO: Look up screen resolutions for mobile phones */
@media only screen and (max-width: 750px) {
  .nav-stacked {
    background-color: black;
    width: 100%;
  }
  .nav-stacked li {
    display: block;
  }
}
/* Medium units */
/* TODO: Look up screen resolutions for tablets */
/* TODO: Add a min-width at 751px */
@media only screen and (min-width: 751px) and (max-width: 991px) {
  /*.nav-stacked {
		background-color: black;
		width: 100%;
		
		li {
			display: block;
		}
	}*/
  .middle-column {
    outline: 1px solid red;
  }
}
html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 70px;
  background: url('../img/confectionary.png');
  background-color: #ffffff;
  margin-bottom: 60px;
}
p,
h1,
h2,
h3,
label,
a {
  color: #67655d;
}
hr {
  margin-top: 1px;
  margin-bottom: 1px;
  border-color: #bbb6ac;
}
.navbar {
  background-color: #337180;
}
.navbar p,
.navbar h1,
.navbar h2,
.navbar h3,
.navbar label,
.navbar span,
.navbar a {
  color: #aa9a66;
}
.navbar-default .navbar-brand {
  color: #aa9a66;
}
.navbar-default .navbar-toggle {
  border-color: #aa9a66;
}
.panel-body {
  background-color: #ffffff;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
/* Add gift: */
.help-block {
  font-style: italic;
}
.add-gift-column {
  height: 400px;
}
.overflow-scroll {
  overflow: scroll;
  overflow-x: hidden;
}
/*.col-md-4 {
	outline: 1px solid red;
}*/
