@media only screen and (max-width: 750px) {
  /*.container-small-centered {
		max-width: 330px;
		padding: 15px;
		margin: 0 auto;
	}*/
  .nav-stacked {
    background-color: black;
    width: 100%;
  }
  .nav-stacked li {
    display: block;
  }
}
body {
  padding-top: 70px;
  background-color: #eae4d7;
}
p,
h1,
h2,
h3,
label,
a {
  color: #67655d;
}
hr {
  margin-top: 1px;
  margin-bottom: 1px;
  border-color: #bbb6ac;
}
.navbar {
  background-color: #337180;
}
.navbar p,
.navbar h1,
.navbar h2,
.navbar h3,
.navbar label,
.navbar span,
.navbar a {
  color: #aa9a66;
}
.navbar-default .navbar-brand {
  color: #aa9a66;
}
.navbar-default .navbar-toggle {
  border-color: #aa9a66;
}
.panel-body {
  background-color: #f4f1eb;
}
