/* Text */
/* Links */
/* Buttons */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded- opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
a:hover {
  text-decoration: none;
}
p,
h1,
h2,
h3,
label {
  color: #67655d;
}
p {
  font-size: 1em;
}
i {
  font-size: 2em;
}
/* Pages */
/*
	Page: index.php;
*/
.index-page {
  background-image: url(../img/bg-landing.jpg);
  /*background-color: @landing-bg;*/
  /*background-position: bottom;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  height: auto;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -999;
  /*background-color: white;*/
  color: #fafaed;
  /*.landing-headline-container {*/
  /*outline: 1px solid red;*/
  /*margin: auto;*/
  /*padding-top: 15em;*/
  /*padding-bottom: 5em;*/
  /*}*/
}
.index-page h1,
.index-page h3 {
  color: #fafaed;
}
.index-page .row {
  background-color: rgba(98, 119, 109, 0.5);
  padding: 2em;
  /*min-height: 100%;*/
}
.index-page .header-container ul {
  /*display: block;*/
  /*float: right;*/
  margin-top: 2em;
  /*margin-left: 2em;*/
  /*text-align: left;*/
  font-size: 1.3em;
  list-style-type: none;
}
.index-page .header-container .landing-headline {
  /*padding: 5px;
			margin-top: 5px;*/
  /*font-size: 1.9em;*/
}
.index-page .sign-up-call {
  text-align: center;
  /*color: white;*/
}
.index-page .sign-up-call .btn-container {
  max-width: 200px;
  margin: 0 auto;
}
.index-page .sign-up-call .btn-container i {
  font-size: 1em;
  margin-right: 10px;
}
.welcome {
  background-color: rgba(98, 119, 109, 0.5);
  padding-top: 100px;
  padding-bottom: 100px;
}
.welcome dt {
  margin-top: 1em;
}
/*
	Page: sign-up;
*/
.sign-up-page {
  /*background-image: url(../img/confectionary.png);*/
  /*background-attachment: fixed;*/
  padding-top: 200px;
}
.sign-up-page .sign-up-section {
  /*min-height: 700px;*/
  background-color: rgba(98, 119, 109, 0.5);
  /*padding-bottom: 200px;*/
  /*padding-top: 200px;*/
}
.sign-up-page .sign-up-section .container {
  padding: 5em;
}
/*
	Page: recipients.php;
*/
.recipients-page {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(98, 119, 109, 0.5);
}
.recipients-page .data-row {
  width: 70%;
}
.recipients-page .label {
  position: relative;
  top: -4px;
}
/*
	Page: recipient.php;
*/
.recipient-page {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(98, 119, 109, 0.5);
}
.recipient-page dt {
  margin-top: 1em;
}
/*
	Page: addrecipient.php;
*/
.add-recipient-page {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(98, 119, 109, 0.5);
}
.add-recipient-page .nano {
  height: 600px;
}
/*
	Page: additem.php;
*/
.add-item-page {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(98, 119, 109, 0.5);
}
/*
	Page: addgift.php;
*/
.add-gift-page {
  background-color: rgba(98, 119, 109, 0.5);
  padding-bottom: 100px;
  padding-top: 100px;
}
/*
	Page: about.php;
*/
.about-page {
  background-color: rgba(98, 119, 109, 0.5);
  background-image: url(../img/bg-landing.jpg);
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.about-page .container {
  background-color: rgba(98, 119, 109, 0.5);
  background-image: url(../img/1-1.png);
  padding: 20px;
}
/* Styling starts at small units and move up in screen resolutions */
/* Small units and up */
@media only screen and (max-width: 767px) {
  .navbar .nav {
    /* ul element */
    /*position: relative;*/
    /*z-index: 1;*/
    /*stack order*/
    /*li:hover {
				background-color: @nav-link-hover;
			}*/
  }
  .navbar .nav span {
    /*display: none;*/
  }
  /*
		Page: index.php
	*/
  .index-page {
    background-position: center;
  }
  .index-page .landing-small {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    bottom: 10%;
    /*margin-top: 1em;*/
  }
  .index-page .row {
    background-color: rgba(98, 119, 109, 0.5);
    /*padding: 2em;*/
    /*min-height: 100%;*/
  }
  .index-page .header-container {
    /*outline: 1px solid red;*/
    /*width: 50px;*/
  }
  .index-page .header-container .landing-headline {
    /*background-color: white;*/
    /*padding: 5px;*/
    /*margin-top: 5px;*/
    font-size: 1em;
  }
  .index-page .header-container ul {
    /*display: block;*/
    /*float: right;*/
    margin-top: 1em;
    margin-left: -3em;
    margin-bottom: -0.7em;
    /*text-align: left;*/
    font-size: 1.1em;
  }
}
/* Medium units and up */
@media only screen and (min-width: 768px) {
  div {
    /*outline: 1px solid silver;*/
  }
  /*
		Navigation
	*/
  .navbar .navbar-form .form-control {
    width: 150px;
  }
  .navbar .nav {
    /*.li-text {
				letter-spacing: 0px;
				position: absolute;
				left: 20px;
				top: 45px;
			}*/
  }
  .navbar .nav li {
    padding: 10px;
  }
  .navbar .nav .li-text-rec {
    letter-spacing: 0px;
    position: absolute;
    left: 13px;
    top: 50px;
  }
  .navbar .nav .li-text-gift {
    letter-spacing: 0px;
    position: absolute;
    top: 50px;
    left: 20px;
  }
  .navbar .nav .li-text-about {
    letter-spacing: 0px;
    position: absolute;
    left: 25px;
    top: 50px;
  }
  .navbar .btn {
    float: right;
    margin-left: 5px;
  }
  /*
		Page: index.php
	*/
  .index-page .row {
    /*background-color: @landing-bg;*/
    /*padding: 2em;*/
    /*min-height: 100%;*/
  }
  .index-page .vertical-center {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
    /*height: 10em;*/
    /*margin-top: -5em*/
  }
  .index-page .header-container {
    /*outline: 1px solid red;*/
    /*width: 50px;*/
    text-align: center;
  }
  .index-page .header-container ul {
    text-align: left;
    font-size: 1.3em;
  }
  .index-page .header-container .landing-headline {
    /*background-color: white;*/
    /*padding: 5px;
				margin-top: 5px;*/
    font-size: 1.7em;
  }
}
/* Large units only */
@media only screen and (min-width: 1034px) {
  div {
    /*outline: 1px solid blue;*/
  }
  /*
		Page: index.php
	*/
  .index-page .row {
    /*background-color: @landing-bg;*/
    /*padding: 2em;*/
    /*min-height: 100%;*/
  }
  .index-page .vertical-center {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
    /*height: 10em;*/
    /*margin-top: -5em*/
  }
  .index-page .header-container {
    /*outline: 1px solid red;*/
    /*width: 50px;*/
    text-align: right;
  }
  .index-page .header-container ul {
    display: block;
    float: right;
    margin-top: 2em;
    /*margin-left: 2em;*/
    /*text-align: left;*/
    font-size: 1.3em;
    list-style-type: none;
  }
  .index-page .header-container .landing-headline {
    /*color: white;*/
    /*padding: 5px;
				margin-top: 5px;*/
    font-size: 1.8em;
  }
  .index-page .sign-up-call {
    /*text-align: center;*/
    padding-top: 5em;
  }
}
/* Debugging */
div {
  /*outline: 1px solid blue;*/
}
html {
  min-height: 100%;
  position: relative;
}
body {
  background-color: #ffffff;
  padding: 0;
  margin-bottom: 60px;
}
.btn {
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
/* Nanoscroller */
.nano {
  /*background: #bba; */
  /*width: 300px; */
  height: 350px;
}
.nano .nano-content {
  padding: 10px;
}
.nano .nano-pane {
  background-color: #ddd6c1;
}
.nano .nano-slider {
  background-color: #aa9a66;
}
.navbar .nav {
  /* ul element */
  position: relative;
  z-index: 1;
  /*stack order*/
}
.navbar .nav li:hover {
  background-color: #aac9bc;
}
.navbar .btn {
  display: block;
  margin: auto;
}
.data-row {
  padding: 5px;
  border-bottom: 1px solid silver;
  width: 70%;
}
.glyphicon {
  margin-left: 5px;
  margin-right: 3px;
}
/*
	Add button
*/
.ton-li-plus {
  font-size: 0.7em;
  background-color: silver;
  padding: 7px;
}
.ton-li-plus:hover {
  transition: all 1s ease 0s;
  color: white;
}
.circle {
  width: 100px;
  height: 100px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.circle:hover {
  transition: all 1s ease 0s;
  background: #3071a9;
}
/*
	Save button override
 */
.btn-success i {
  font-size: 0.7em;
  margin-right: 3px;
}
.footer {
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
}
