
/*
	Page: about.php;
*/
.about-page {
	background-color: @landing-bg;
	background-image: url(../img/bg-landing.jpg);
	padding-top: 100px;
	padding-bottom: 100px;
  	position: relative;
  
	.container {
		background-color: @landing-bg;
		background-image: url(../img/1-1.png);
		padding: 20px;
	}
}