
/*
	Page: about.php;
*/
.about-page {
	background-image: url(../img/bg-about.jpg);

	.about-section {
		background-color: @about-bg;
	}

	h1, p, a  {
		color: @dark-maroon;
	}

	a:hover {
		color: @link-hover;
	}

	.nano {
		max-width: 100%;
		border-bottom: none;
	}

	.has-scrollbar {
		background-color: transparent;
	}


}