
@index-bg:				#FFFFFF;
@body-bg:				#FFFFFF;
@nav-bg:				#FFFFFF;
@panel-bg:				#FFFFFF;
@landing-bg:			rgba(98,119,109,0.5);
@signup-bg:				#FFFFFF;

@hr-border:				#bbb6ac;

@nano-pane:				#DDD6C1;
@nano-slider:			#AA9A66;


/* Text */
@text-color:			#67655D;
@nav-text-color:		#AA9A66;
@landing-text:			rgb(250,250,237);


/* Links */
@nav-link:				#AA9A66;
@nav-link-visited:		#AA9A66;
@nav-link-hover:		#AAC9BC;


/* Buttons */
@save:					#64B167;
@hover:					#3071A9;
