
@index-bg:				#337180;
@body-bg:               #FFFFFF;
@nav-bg:				#337180;
@panel-bg:				#FFFFFF;
@landing-bg:			#DDE9E4;
@signup-bg:				#8d7168;

@hr-border:				#bbb6ac;

@nano-pane:				#DDD6C1;
@nano-slider:			#AA9A66;

/* Text */
@text-color:			#67655D;
@nav-text-color:		#AA9A66;

/* Links */
@nav-link:				#AA9A66;
@nav-link-visited:		#AA9A66;
@nav-link-hover:		#DDD6C1;
