
@index-bg:				#FFFFFF;
@body-bg:				#FFFFFF;
@nav-bg:				#FFFFFF;
@panel-bg:				#FFFFFF;
@landing-bg:			rgba(98,119,109,0.5);

@overlay-bg:			rgba(170,154,102,0.2);
/*@signup-bg:			rgba(170,154,102,0.2);
@welcome-bg:			rgba(170,154,102,0.2);
@recipient-bg:			rgba(170,154,102,0.2);
@item-bg:				rgba(170,154,102,0.2);
@gift-bg:				rgba(170,154,102,0.2);*/

@instructions-bg:		rgba(255,255,255,0.5);
@footer-bg:				rgba(255,255,255,0.5);


@hr-border:				rgb(187,182,172);

/* Nano-scroller */
@nano-pane:				rgb(221,214,193);
@nano-slider:			rgb(170,154,102);
@nano-border:			rgb(187,182,172);
@nano-bg:				rgba(255,255,255,0.2);


/* Text */
@text-color:			#67655D;
@nav-text-color:		rgb(170,154,102);
@landing-text:			rgb(250,250,237);
@instructions:			rgb(170,154,102);
@subtext:				rgba(00,00,00,0.5);


/* Links */
@nav-link-hover:		rgba(170,201,188,0.5);
@link:					rgb(170,154,102);
@link-hover:			rgb(85,77,51); /* rgb(250,250,237); */


/* Buttons */
@save:					#64B167;
@hover:					#3071A9;
