/*
	ADD GIFT PAGE;
*/
.add-gift-page {
	background-image: url(../img/confectionary.png);

	.add-gift-section {
		
		.add-gift-form {
			width: 300px;
			margin: auto;

			textarea {
				height: 100px;
			}

			.btn-success {
				float: right;
				span {
					font-size: 0.7em;
					margin-right: 5px;
					color: white;
				}
			}
		}
	}
}