/*
	Page: index.php;
*/
.index-page {
	background-image: url(../img/bg-landing.jpg);
	color: @landing-text;
	
	h1, h2, h3, p {
		color: @landing-text;
	}

	.row {
		background-color: @landing-bg;
		padding: 2em;
	}

	.headline-container {

		ul {
			margin-top: 2em;
			font-size: 1.3em;
			list-style-type: none;
		}
	}

	.sign-up-call {
		text-align: center;
		
		.btn-container {
			max-width: 200px;
			margin: 0 auto;

			i {
				font-size: 1em;
				margin-right: 10px;
			}
		}
	}
}


/*
	INDEX (AS LOGGED IN)
*/
.welcome-page {
	background-image: url(../img/confectionary.png);

	.container {
		margin-top: 6em;
		padding-bottom: 3em;
	}

	dt {
		margin-top: 1em;
	}
}

