/* Large units only */

@desktop:    ~"only screen and (min-width: 992px)";

@media @desktop {
	div {
		/*outline: 1px solid blue;*/
	}




	/*
		COMMON
	*/
	.vertical-center {
		position: absolute;
		top: 30%;
		left: 10%;
		width: 80%;
		/*height: 10em;*/
		/*margin-top: -5em*/
	}


	/*
		INDEX
	*/
	.index-page {
		.row {
			/*background-color: @landing-bg;*/
			/*padding: 2em;*/
			/*min-height: 100%;*/
		}



		.headline-container {
			/*outline: 1px solid red;*/
			/*width: 50px;*/
			text-align: right;

			.landing-headline {
				/*margin-left: -1em;*/
				margin-bottom: -0.7em;
				/*color: white;*/
				/*padding: 5px;
				margin-top: 5px;*/
				font-size: 1.8em;
			}

			ul {
				display: block;
				float: right;
				margin-top: 1em;
				/*text-align: left;*/
				font-size: 1.3em;
				list-style-type: none;
				padding-bottom: 1em;
			}
		}

		.sign-up-call {
			/*text-align: center;*/
			padding-top: 5em;
		}
	}


	/*
		SIGN UP PAGE
	*/
	.sign-up-page {
		background-position: center;

		.sign-up-section {
			

			.container {
			padding-top: 0em;
			}
		}
	}


	/*
		ABOUT PAGE
	*/
	.about-page {
		background-position: bottom;

		.about-section {
			.container {
				padding-top: 0em;
			}

			.center {
				width: 60%;
				margin: auto;
			}
		}
	}




	/*
		RECIPIENTS PAGE
	*/
	.recipients-page {


		.data-row {
			width: 70%;
		}


		.nano {
			max-height: 600px;
			/*max-width: 100%;*/
		}

	}




	/*
		ADD ITEM PAGE;
	*/
	.add-item-page {
		.add-item-section {

			.container {
				padding-top: 8em;
			}

		}

	}


	/*
		ADD GIFT PAGE;
	*/
	.add-gift-page {
		.add-gift-section {

			.container {
				padding-top: 8em;
			}

		}

	}
}