/* Large units only */

@desktop:    ~"only screen and (min-width: 992px)";

@media @desktop {


	/*
		COMMON
	*/
	.vertical-center {
		position: absolute;
		top: 30%;
		left: 10%;
		width: 80%;
	}


	/*
		INDEX
	*/
	.index-page {
		
		.headline-container {
			text-align: right;

			.landing-headline {
				margin-bottom: -0.7em;
				font-size: 1.8em;
			}

			ul {
				display: block;
				float: right;
				margin-top: 1em;
				font-size: 1.3em;
				list-style-type: none;
				padding-bottom: 1em;
			}
		}

		.sign-up-call {
			padding-top: 5em;
		}
	}


	/*
		SIGN UP PAGE
	*/
	.sign-up-page {
		background-position: center;

		.sign-up-section {

			.container {
			padding-top: 0em;
			}
		}
	}


	/*
		ABOUT PAGE
	*/
	.about-page {
		background-position: bottom;

		.about-section {
			.container {
				padding-top: 0em;
			}

		}

		.centered-container {
			padding: 2em;
			width: 50%;
			margin: auto;
		}
	}




	/*
		RECIPIENTS PAGE
	*/
	.recipients-page {

		.data-row {
			width: 70%;
		}
	}


	/*
		SINGLE RECIPIENT PAGE;
	*/
	.recipient-page {
		
		.nano {
			width: 60%; 
		}
	}




	/*
		ADD ITEM PAGE;
	*/
	.add-item-page {
		.add-item-section {

			.container {
				padding-top: 8em;
			}
		}
	}


	/*
		ADD GIFT PAGE;
	*/
	.add-gift-page {
		.add-gift-section {

			.container {
				padding-top: 8em;
			}
		}
	}
}