/* Large units */
/* TODO: Look up screen resolutions for tablets */
@desktop:    ~"only screen and (min-width: 992px)";

@media @desktop {

	.middle-column {
	border-left: 3px dashed silver;	
	border-right: 3px dashed silver;
	}

	.block-align {
		display: block;
	}

	.align-columns {
		outline: 1px solid red;
		vertical-align: bottom;
		min-height: 200px;
	}
}