/* Medium units */
/* TODO: Look up screen resolutions for tablets */
/* TODO: Add a min-width at 751px */
@tablet:    ~"only screen and (min-width: 751px) and (max-width: 991px)";

@media @tablet {
	/*.nav-stacked {
		background-color: black;
		width: 100%;
		
		li {
			display: block;
		}
	}*/

	.middle-column {
	outline: 1px solid red;
	}
}