/*
	Page: recipients.php;
*/
.recipients-page {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: @landing-bg;

	.data-row {
		width: 70%;
	}

	.label {
		position:relative;
		top:-4px;
	}
}





/*
	Page: recipient.php;
*/
.recipient-page {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: @landing-bg;
	
	dt {
		margin-top: 1em;
	}
}




/*
	Page: addrecipient.php;
*/
.add-recipient-page {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: @landing-bg;

	.nano {
		height: 600px;
	}
}
