/*
	RECIPIENTS PAGE;
*/
.recipients-page {
	background-image: url(../img/confectionary.png);

		/*padding-bottom: 60px;*/
	/*background-repeat: repeat;*/
	/*background-attachment: fixed;*/
	/*background-position: top;*/
	/*height: auto;
	left: 0;
	min-height: 100%;
	min-width: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -999;*/
	/*background-color: @overlay-bg;*/

	.recipients-section {
		/*background-color: @overlay-bg;
		min-height: 100%;
		min-width: 100%;
		height: auto;
		position: fixed;*/
	}



	a {
		color: @link;
	}

	a:hover {
		color: @link-hover;
	}

	.container {
		padding-top: 7em;
		padding-bottom: 1em;
	}

	.data-row {
		padding: 5px;
		border-bottom: 1px solid silver;
	}

	.ton-li-plus {
		font-size: 1em;
		/*background-color: silver;*/
		padding: 7px;
		/*position:relative;*/
		/*top: -3px;*/
	}

	.ton-li-plus:hover {
		transition: all 1s ease;
		color: white;
	}


	/*	
		.circle {
			width: 100px;
			height: 100px;
			background: silver;
			-moz-border-radius: 50px;
			-webkit-border-radius: 50px;
			border-radius: 50px;
		}
		.circle:hover {
			transition: all 1s ease 0s;
			background: @hover;
		}
		.square {
			width: 100px;
			height: 100px;
			background: silver;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
		}
		.square:hover {
			transition: all 1s ease 0s;
			background: @hover;
		}
	*/
}





/*
	SINGLE RECIPIENT PAGE;
*/
.recipient-page {
	background-image: url(../img/confectionary.png);
	/*height: auto;
	left: 0;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -999;*/

	.recipient-section {
		/*background-color: @overlay-bg;
		min-height: 100%;
		min-width: 100%;
		height: auto;
		position: absolute;*/
	}

	.recipient-container {
		padding-top: 7em;
	}
	
	dt {
		margin-top: 1em;
	}

	.btn {
		margin-top: 1em;
	}
}




/*
	ADD RECIPIENT PAGE;
*/
.add-recipient-page {
	background-image: url(../img/confectionary.png);
	/*height: auto;
	left: 0;
	min-height: 100%;
	min-width: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -999;*/

	.add-recipient-section {
		/*background-color: @overlay-bg;
		min-height: 100%;
		min-width: 100%;
		height: auto;
		position: fixed;*/

		.container {
			padding-top: 7em;
		}

		h2 {
			margin-bottom: 5px;
		}

		.add-recipient-form {
			width: 300px;

			textarea {
				height: 100px;
			}

			.btn-success {
				float: right;
				span {
					font-size: 0.7em;
					margin-right: 5px;
					color: white;
				}
			}
		}


		span {
			font-style: italic;
			color: @subtext;
		}


	}


	/*.instructions {
		background-color: @instructions-bg;
		font-size: 1.1em;
		padding: 0.5em;

		.panel-heading {
			border-bottom: 1px solid @instructions;

			span {
				font-size: 2em;
				color: @instructions;
			}
		}
	}*/

	.nano {
		margin-top: 5px;
		max-height: 400px;
		max-width: 300px;
	}


	.data-row {
		padding: 5px;
		border-bottom: 1px solid silver;
		width: 100%;
	}

	.btn-success {
		i {
			font-size: 0.7em;
			margin-right: 3px;
		}
	}
}



/*
	EDIT RECIPIENT PAGE;
*/
.edit-recipient-page {
	background-image: url(../img/confectionary.png);
	/*height: auto;
	left: 0;
	min-height: 100%;
	min-width: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -999;*/

	.edit-recipient-section {
		/*background-color: @overlay-bg;
		min-height: 100%;
		min-width: 100%;
		height: auto;
		position: fixed;*/

		.container {
			padding-top: 7em;
		}

		h2 {
			margin-bottom: 5px;
		}

		.edit-recipient-form {
			width: 300px;
			margin: auto;

			textarea {
				height: 100px;
			}

			.btn-success {
				float: right;
				span {
					font-size: 0.7em;
					margin-right: 5px;
					color: white;
				}
			}
		}

		span {
			font-style: italic;
			color: @subtext;
		}


	}


	/*.instructions {
		background-color: @instructions-bg;
		font-size: 1.1em;
		padding: 0.5em;

		.panel-heading {
			border-bottom: 1px solid @instructions;

			span {
				font-size: 2em;
				color: @instructions;
			}
		}
	}*/

	.nano {
		margin-top: 5px;
		max-height: 400px;
		max-width: 300px;
	}


	.data-row {
		padding: 5px;
		border-bottom: 1px solid silver;
		width: 100%;
	}

	.btn-success {
		i {
			font-size: 0.7em;
			margin-right: 3px;
		}
	}
}







/*
	CHOOSE RECIPIENTS PAGE;
*/
.choose-recipient-page {
	background-image: url(../img/confectionary.png);
	/*height: auto;
	left: 0;
	min-height: 100%;
	min-width: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -999;*/

	.choose-recipient-section {
		/*background-color: @overlay-bg;*/
		/*min-height: 100%;
		min-width: 100%;
		height: auto;
		position: fixed;*/
	}

	.choose-container {
		padding-top: 7em;
		width: 300px;
		height: 500px;
		margin: auto;
	}
	
	dt {
		margin-top: 1em;
	}


	.nano {
		max-height: 300px;
		max-width: 300px;
	}

	.btn {
		margin-top: 1em;
		float: right;
	}

}

