/*
	Page: sign-up;
*/
.sign-up-page {
	background-image: url(../img/bg-signup.jpg);
	/*width: 100%;*/
	/*height: 800px;*/



	/*background-color: @landing-bg;*/
	background-position: bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom;
	height: auto;
	left: 0;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -999;


	.sign-up-section {
		/*min-height: 700px;*/
		background-color: @overlay-bg;
		min-height: 100%;
		min-width: 100%;
		height: auto;
		position: absolute;

		.container {
			/*background-color: @overlay-bg;*/
			/*padding: 5em;*/
		}
	}
}

