/* Small units */
/* TODO: Look up screen resolutions for mobile phones */
@phone:    ~"only screen and (max-width: 750px)";

@media @phone {
	.nav-stacked {
		background-color: black;
		width: 100%;
		
		li {
			display: block;
		}
	}


	.col-xs-12 {
		margin: 0 auto;
	}

	.centered-content {
		display: block;
		margin: 0 auto;
		max-width: 70%;
	}
}
