/* Small units and up */

@phone:    ~"only screen and (max-width: 767px)";

@media @phone {

	/*
		HEADER
	*/
	.navbar {
		.navbar-brand {
			margin-top: 0.5em;
		}

		.nav {
			text-align: center;

			.ton-li-people-7 {
				font-size: 1.5em;
			}

			.ton-li-box-1 {
				font-size: 1.5em;
			}

			.ton-li-speech-buble-4 {
				font-size: 1.5em;
			}

		}

		.navbar-form {
			/*outline: 1px solid red;*/
			border: none;
			margin: auto;
			width: 80%;
			/*width: 300px;*/
		}

		.navbar-right {

			padding-bottom: 3em;

			input {
				margin-bottom: 5px;
			}

			.btn-primary {
				margin-left: 5px;
				float: right;
			}

			.btn-danger {
				float: right;
				/*display: block;*/
				/*margin: auto;*/
			}
		}


	}





	/*
		INDEX PAGE
	*/
	.index-page {
		background-position: center;

		.landing-small {
			position: absolute;
			top: 20%;
			left: 0%;
			width: 100%;
			bottom: 10%;
			/*margin-top: 1em;*/
		}


		.row {
			background-color: @landing-bg;
			/*padding-top: 2em;*/
			/*min-height: 100%;*/
		}

		.headline-container {
			/*outline: 1px solid red;*/
			/*width: 50px;*/
			.landing-headline {
				/*background-color: white;*/
				/*padding: 5px;*/
				/*margin-top: 5px;*/
				font-size: 1em;
			}

			ul {
				/*display: block;*/
				/*float: right;*/
				margin-top: 1em;
				margin-left: -3em;
				margin-bottom: -0.7em;
				/*text-align: left;*/
				font-size: 1.1em;
			}
		}

	}




	/*
		INDEX (AS LOGGED IN)
	*/
	.welcome-page {

		.welcome-section {

			.container {
				margin-top: 4em;
			}

		}

	}



	/*
		SIGN UP PAGE
	*/
	.sign-up-page {
		background-position: center;

		.sign-up-section {

			.container {
			padding-top: 5.5em;
			}
		}
	}


	/*
		ABOUT PAGE
	*/
	.about-page {
		background-position: bottom;

		.about-section {

			.container {
			padding-top: 5em;
			width: 100%;
			}
		}

		p {
			font-size: 1.1em;
		}


		.nano {
			max-height: 350px;
			max-width: 100%;
		}
	}

	/*
		RECIPIENTS PAGE
	*/
	.recipients-page {


		.container {
			padding-top: 5em;
		}

		h2 {
			font-size: 1.5em;
		}

		h4 {
			font-size: 1.1em;
			margin: 2px;
		}

		p {
			margin: 2px;
		}

		.data-row {
			padding: 3px;
			width: 100%;
		}

		.ton-li-plus {
			font-size: 1em;
			/*background-color: silver;*/
			padding: 7px;
			/*position:relative;*/
			/*top: -3px;*/
		}


		.glyphicon {
			float: right;
			/*margin-left: 30px;
			margin-right: 3px;*/
		}


		.nano {
			max-height: 350px;
			max-width: 100%;
		}
	}

	/*
		SINGLE RECIPIENT PAGE
	*/
	.recipient-page {
		.recipient-container {
			/*padding-top: 2em;*/
		}
		
		dt {
			/*margin-top: 1em;*/
		}

		.btn {
			/*margin-top: 1em;*/
		}
	}


	/*
		ADD RECIPIENT PAGE;
	*/
	.add-recipient-page {
		.add-recipient-section {
			
			.container {
				padding-top: 3.5em;
			}
		}

		h2 {
			font-size: 1.7em;
		}


		.nano {
			/*max-height: 500px;*/
		}

		.btn-success {
			i {
				/*font-size: 0.7em;
				margin-right: 3px;*/
			}
		}
	}



	/*
		ADD ITEM PAGE;
	*/
	.add-item-page {
		.add-item-section {

			.container {
				padding-top: 5em;
			}

			.add-item-form {
				width: 300px;
				margin: auto;

				textarea {
					height: 100px;
				}
			}
		}
	}

	/*
		ADD GIFT PAGE;
	*/
	.add-gift-page {
		.add-gift-section {

			.container {
				padding-top: 5em;
			}

			.add-gift-form {
				width: 300px;
				margin: auto;

				textarea {
					height: 100px;
				}
			}
		}
	}



	/*
		CHOOSE RECIPIENTS PAGE;
	*/
	.choose-recipient-page {

		.choose-container {
			padding-top: 7em;
			width: 300px;
			margin: auto;
		}
		
		dt {
			margin-top: 1em;
		}



		.nano {
			max-height: 200px;
			max-width: 300px;
		}

		.btn {
			margin-top: 1em;
			float: right;
		}
	}



	/*
		ERROR 404 PAGE;
	*/
	.not-found {
		padding-top: 7em;

		.container {
			width: 90%;
		}
	}



	/*
		FOOTER;
	*/
	.footer {
		.hide-small {
			display: none;
		}
	}

}
