// Small units
@phone:    ~"only screen and (max-width: 750px)";

@media @phone {
	.container-small-centered {
		max-width: 330px;
		padding: 15px;
		margin: 0 auto;
	}
	.nav-stacked {
		background-color: black;
		width: 100%;
		
		li {
			display: block;
		}
	}
}
