@import "colours.less";

@import "small-units.less";

body {
	padding-top: 70px;
	background: url('../img/confectionary.png');
	background-color: @body-bg;
}

p, h1, h2, h3, label, a {
	color: @text-color;
}
 
hr {
	margin-top: 1px;
	margin-bottom: 1px;
	border-color: @hr-border;
}

.navbar {
	background-color: @nav-bg;

	p, h1, h2, h3, label, span, a {
		color: @nav-text-color;
	}
}
.navbar-default .navbar-brand 
 {
	color: @nav-text-color;
}

.navbar-default .navbar-toggle {
	border-color: @nav-text-color;
}

.panel-body {
	background-color: @panel-bg;
}




	