@import "colours.less";

@import "small-units.less";
@import "medium-units.less";

html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 70px;
	background: url('../img/confectionary.png');
	background-color: @body-bg;
	margin-bottom: 60px;
}

p, h1, h2, h3, label, a {
	color: @text-color;
}
 
hr {
	margin-top: 1px;
	margin-bottom: 1px;
	border-color: @hr-border;
}

.navbar {
	background-color: @nav-bg;

	p, h1, h2, h3, label, span, a {
		color: @nav-text-color;
	}
}
.navbar-default .navbar-brand {
	color: @nav-text-color;
}

.navbar-default .navbar-toggle {
	border-color: @nav-text-color;
}

.panel-body {
	background-color: @panel-bg;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}

/* Add gift: */
.help-block {
	font-style: italic;
}

.add-gift-column {
	height: 400px;
}



.overflow-scroll {
	overflow: scroll;
	overflow-x: hidden;
}

/*.col-md-4 {
	outline: 1px solid red;
}*/


	