@import "colours.less";

@import "small-units.less";
@import "medium-units.less";
@import "large-units.less";

html {
	
}

body {
	
}

p, h1, h2, h3, label {
	color: @text-color;
}
 
hr {
	border-color: @hr-border;
}



.nano {
	/*background: #bba; */
	/*width: 300px; */
	height: 350px;

	.nano-content { 
		padding: 10px;
	}

	.nano-pane {
		background-color: @nano-pane;		
	}

	.nano-slider { 
		background-color: @nano-slider; 
	}
}


/*.overflow-scroll {
	overflow: scroll;
	overflow-x: hidden;
}
*/
div {
	outline: 1px solid red;
}

